.table{
  width: auto;
  height: 100%;
  margin-right: 36px;
  margin-left: 36px;
  margin-top: 0.8em;
  margin-bottom: 1em;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  /* overflow-y: auto; */
}

.Pageno-box{
  position: relative;
  height: 30px;
  left: 50%;
  bottom: -3%;
  transform: translate(-50%,-50%); 
}



